.cart {
  width: 100%;
  max-width: 20rem;
}

.input-qty {
  width: 2.5rem;
  vertical-align: middle;
  text-align: center;
  border: 2px solid var(--fu-gray-200);
}

.input-qty:focus {
  outline: 1px solid transparent;
  border: 1px solid var(--fu-gray-400);
}

.price-details {
  height: fit-content;
  flex-shrink: 0;
  margin-top: 0.5rem;
}

.item-photo {
  height: 10rem;
  width: 80%;
  object-fit: cover;
}

.cart-item-0 {
  height: 12rem;
}

.cart-container{
  margin-top: 4rem;
}

.wishlist{
  margin-top: 4rem;
}
@media only screen and (min-width: 600px) {
  .cart {
    align-items: center;
  }
  .cart-container {
    flex-direction: row;
  }
  .price-details {
    margin-top: 0;
  }
}
