.navbar {
  height: 4rem;
}

.nav-menu {
  position: absolute;
  width: 16rem;
  height: 100vh;
}

.nav-list-item {
  border-bottom: 1px solid var(--fu-gray-300);
}

.profile-desktop {
  display: none;
}

.search-input-desktop {
  display: none;
}

@media (min-width:600px) {
  .nav-menu {
    display: none;
  }

  .nav-menu-icon {
    display: none;
  }

  .profile-desktop {
    display: block;
  }
}

.nav-list-item {
  border-bottom: 1px solid var(--fu-gray-300);
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0;
  min-width: 130px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .list-item {
  cursor: pointer;
}