.navbar {
  height: 4rem;
}

.nav-menu {
  position: absolute;
  width: 16rem;
  height: 100vh;
}

.nav-list-item {
  border-bottom: 1px solid var(--fu-gray-300);
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
