@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
}

.icon-loading {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.h-100 {
  height: 80vh;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.icon:hover {
  background: rgba(0, 0, 0, 0.1);
}

.container-main {
  width: 100%;
  max-width: 80%;
}

.radius-top-left {
  border-top-left-radius: 0.5rem;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: var(--fu-red);
}

#price-range {
  height: 0.3rem;
}

.bg-body-color {
  background-color: #f0f2f5;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

select:focus {
  outline: 2px solid transparent;
}

select {
  border: 1px solid palevioletred;
}

.items-start {
  align-items: flex-start;
}

.w-full {
  width: 100%;
}

.p-sm {
  padding: 0.2rem 0.5rem;
}

.grow {
  flex-grow: 1;
}

.signup-main {
  height: 100vh;
}

.disable {
  cursor: not-allowed;
  background-color: #e7e9eb;
}

.signup-container {
  width: 100%;
  max-width: 30rem;
}

.login-container {
  width: 100%;
  max-width: 25rem;
}

.btn-login {
  width: 100%;
}

.fof{
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}


@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }

  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}